<footer class="site-footer">
  <div class="row">
    <div class="columns large-3 medium-4 medium-offset-1 large-offset-3 address">
      <h3>The Fresno Compact</h3>
      <p class="blue">Copyright &copy; 2023 Fresno Compact<br/>
      All Rights Reserved</p>
    </div>
    <div class="columns large-3 medium-offset-1 medium-4 site-links end large-offset-0">
      <h3>Site Links</h3>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/about-fresno-compact">About Us</a></li>
        <li><a href="/our-work">Our Work</a></li>
        <li><a href="/dr-harold-haak-award">Dr. Harold Haak Award</a></li>
        <li><a href="/business-school-partnership-awards">Partnership Awards</a></li>
        <li class="last"><a href="/contact-us">Contact</a></li>
      </ul>
    </div>
    <div class="columns large-3 medium-9 medium-offset-1 large-offset-0 end social">
      <h3>Follow Us Online</h3>
      <div class="media-icon media-icon--twitter">
        <h4><a href="http://twitter.com/fresnocompact">Twitter</a></h4>
        <p class="blue"><a href="http://twitter.com/fresnocompact">@fresnocompact</a></p>
      </div>
      <div class="media-icon media-icon--facebook">
        <h4><a href="http://facebook.com/FresnoCompact">Facebook</a></h4>
        <p class="blue"><a href="http://facebook.com/FresnoCompact">facebook.com/FresnoCompact</a></p>
      </div>
    </div>
  </div>
</footer>


