
// Elements
//
// Things to review before you write code here:
// - Be sure to load after "foundation" import.
// - Also, before adding styles be sure to modify variables in the
//   "base/_common.scss" file. You may not need to write any code.

// Headings
//------------------------------------------
// h1, h2, h3,
// h4, h5, h6 {}

// anchors
//-----------------------------------------------------------------------------
// a {}

// a:focus {}

// a.active,
// a:active,
// a:hover {}

// Form Input
//-----------------------------------------------------------------------------
// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {
// }

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// textarea {

// }

// select {}

.site-header  {
  min-height: 300px;
  padding-bottom: 40px;
  background: transparent url(../images/img__logo.png) no-repeat top left;
  position: relative;
  @include breakpoint(medium down) {
    background-size: 100px auto;
    background-position: 0 -16px;
    min-height: auto;
  }
  @include breakpoint (small only) {
    background-position: 0 0;
    min-height: auto;
    padding-bottom: 0;
  }
  &--hero {
    min-height: 580px;
    @include breakpoint(medium down) {
      min-height: 120px;
    }
  }
  &__container {   
    background: url(../images/bg__body.png) repeat-x top left, url(../images/bg__header--student--hero--78.jpg) bottom center;
    border-bottom: 11px solid #f49704;
    background-size: auto, cover;
    &--hero {
      border-bottom: 6px solid #f49704;
    }
    @include breakpoint(small only) {
      background-position: 0 -60px;
      background-size: auto, 2000px;
    }
  }
}

.cta {
  height: 23px;
  background: $compact-blue;
  text-align: center;
  position: relative;
  &__link {
    position: absolute;
    display: block;
    background: #f49704;
    bottom: 0;
    width: 210px;
    height: 48px;
    line-height: 45px;
    left: 0;
    letter-spacing: 1px;
    right: 0;
    margin-left: auto;
    font-weight: 900;
    font-family: "Lato";
    color: #ffffff;
    font-size: rem-calc(22);
    margin-right: auto;
    text-transform: uppercase;
  }
}

.page-header {
  &__title {
    margin-left: 213px;
    @include breakpoint(medium only) {
      margin-left: 100px;
      font-size: rem-calc(40px);
      padding-top: 30px;
    }
    @include breakpoint(small only) {
      padding-top: 9px;
      padding-bottom: 3px;
      font-size: rem-calc(30px);
      margin-left: 130px;
    }
    color: #fff;
    font-size: rem-calc(55px);
    line-height: rem-calc(55px);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 53px;
    &--hero {
      font-size: rem-calc(62);
      line-height: rem-calc(77);
      margin: 0 200px;
      font-weight: 700;
      padding-top: 43px;
      text-align: center;
      @include breakpoint(medium down) {
        font-size: rem-calc(44);
        line-height: rem-calc(55);
        padding-top: 30px;
        padding-bottom: 15px;
      }
      @include breakpoint(small down) {
        margin: 75px 30px 0 30px;
        text-align: center;
        font-size: rem-calc(30);
        font-size: rem-calc(42);
      }
    }
  }
  &__subhead {
    font-size: rem-calc(28px);
    line-height: rem-calc(38px);
    font-weight: 300;
    font-family: "Lato";
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    padding-top: 45px;
    margin: 0 200px;
    @include breakpoint(medium down) {
      margin: 0 80px;
      padding-top: 15px;
      padding-bottom: 25px;
    }
    @include breakpoint(small down) {
      padding-bottom: 65px;
      text-align: center;
      margin-left: 30px;
      margin-right: 30px;
      font-size: rem-calc(23);
      line-height: rem-calc(32);
    }
  }
}

.field-name-field-webform-reference {
  margin-left: 13px;
  margin-right: 50px;
}

.field-name-body {
  margin-left: 13px;
  margin-right: 50px;
  p.subhead {
    font-family: "Lato";
    color: #126898;
    font-size: rem-calc(32px);
    line-height: rem-calc(41px);
    font-weight: 300;
    margin-bottom: 32px;
  }
  h3 {
    font-weight: 700;
    font-size: rem-calc(28px);
    color: $compact-blue;
    padding-bottom: 8px;
    padding-top: 12px;
  }
  h4 {
    background: #f3f3f3;
    color: #f49704;
    display: inline-block;
    padding: 8px 20px 8px 33px;
    margin-left: -41px;
    border-left: 8px solid #dddddd;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 24px;
    font-size: rem-calc(21px);
    font-weight: 900;
    letter-spacing: 1px;
  }
  h5 { 
    font-weight: 400;
    font-size: rem-calc(28px);
    color: $compact-blue;
    padding-bottom: 10px;
    padding-top: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 18px;
    border-bottom: 1px solid #4789ad;
  }
  h6 {
    font-size: rem-calc(20px);
    margin-bottom: 1px;
  }
  ul.pdf-list {
    list-style-type: none;
    li {
      padding-left: 36px;
      background: url(../images/icon__pdf-format--24.png) no-repeat 0 14px;
      padding-top: 8px;
      border-bottom: 1px solid #f3f3f3;
    }
  }
  ul.lined {
    list-style-type: none;
    margin: 0;
    li {
      padding-top: 8px;
      margin-left: 15px;
      border-bottom: 1px dotted $compact-blue;
    }
  }
}

.webform-submission-form {
  .fieldset-legend {
    background: #f3f3f3;
    color: #f49704;
    display: inline-block;
    padding: 8px 20px 8px 33px;
    margin-left: -41px;
    border-left: 8px solid #dddddd;
    text-transform: uppercase;
    margin-bottom: 24px;
    margin-top: 24px;
    font-size: rem-calc(21px);
    font-weight: 900;
    letter-spacing: 1px;
  }
  .button.success {
    background: $compact-blue;
    color: #ffffff;
    font-weight: 900;
    font-family: "Lato";
    margin-top: 20px;
    text-transform: uppercase;
    font-size: rem-calc(16px);
  }
}

.page {
  padding-top: 50px;
  min-height: 800px;
  &--front {
  min-height: auto;
  }
}

.site-footer {
  margin-top: 80px;
  border-top: 6px solid #f49704;
  background: #084466; 
  .row {
    height: 344px;
    background: transparent url(../images/bg__footer.png) no-repeat top left;
    @include breakpoint( medium down ) {
      height: auto;
      background-image: none;
    }
  }
  h3 {
    color: #4789ad;
    border-bottom: 4px solid #0a5681;
    font-family: "Lato";
    font-weight: 900;
    letter-spacing: 0.0rem;
    font-size: rem-calc(20px);
    text-transform: uppercase;
    float: left;
    min-width: 230px;
    margin-top: 70px;
    @include breakpoint( medium down ) {
      float: none;
      margin-top: 50px;
    }
  }
  h4 {
    color: #ffffff;
    font-size: rem-calc(21px);
    margin: 0;
    padding: 0;
  }
  p, ul {
    clear: left;
    font-weight: 400;
    color: #ffffff;
    &.blue {
      color: #4789ad;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 200px;
    li {
      margin: 0;
      padding: 1px 0;
      border-bottom: 2px solid #0a5681;
      &.last {
        border-bottom: 0;
      }
      a {
        width: 250px;
        color: #ffffff;
      }
    }
  }
  .columns {
    @include breakpoint( small down ) {
      ul, h3, p, div {
        margin-left: 50px;
        margin-right: 50px;
      }
      &.social p.blue {
        margin: 0;
      }
    }
  }
  .site-links h3 {
    min-width: 230px;
    margin-bottom: 0;
  }
  .media-icon {
    clear: left;
    padding-left: 66px;
    padding-top: 5px;
    padding-bottom: 0px;
    &--twitter {
      background: transparent url(../images/icon__twitter.png) no-repeat 0 6px;
    }
    &--facebook {
      background: transparent url(../images/icon__facebook.png) no-repeat 0 6px;
    }
    h4 a {
      color: #ffffff;
    }
    a {
      color: #4789ad;
    }
    @include breakpoint( medium down ) {
      clear: none;
      float: left;
      margin-right: 40px;
      margin-top: 10px;
      margin-bottom: 30px;
    }
  }
}

.media-card {
  padding-top: 60px;
  &--padding {
    background: #f3f3f3;
    margin: 0 19px 0 38px;
    position: relative;
    padding-bottom: 36px;
    @include breakpoint( medium down ) {
      padding-bottom: 0 !important;
    }
  }
  &--talent-hub {
    padding-bottom: 60px !important;
    background: #f3f3f3 url(../images/bg__media-card--talent-hub.png) no-repeat bottom right;
    @include breakpoint( medium down ) {
      padding-bottom: 0 !important;
      br {
        display: none;
      }
    }
  }
  &__image {
    position: absolute;
    top: -19px;
    left: -19px;
    @include breakpoint( medium down ) {
      position: relative;
      top: 0;
      left: 0;
      float: left;
      margin-right: 20px;
    }
    @include breakpoint( 800px down ) {
      float: none;
      width: 100%;
    }
  }
  &__placard {
    padding-top: 174px;
    margin-left: -19px;
    margin-right: 23px;
    @include breakpoint( medium down ) {
      padding: 0;
      margin: 0;
    }
  }
  &__subhead, &__title {
    background: $compact-blue;
    margin: 0;padding: 0;border: 0;
  }
  &__subhead {
    font-family: "Lato";
    font-weight: 400;
    font-size: rem-calc(17);
    color: #ffb540;
    padding: 10px 0 0 18px;
  }
  &__title {
    padding: 0 0 12px 18px;
    color: #ffffff;
    font-family: "Lato";
    font-weight: 900;
    font-size: rem-calc(20px);
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  &__descr {
    padding: 15px 22px;
    font-size: rem-calc(15px);
    @include breakpoint( medium down ) {
      margin-bottom: 14px;
      padding-bottom: 0;
    }
  }
  &__cta {
    background: #f49704;
    color: #ffffff;
    font-weight: 900;
    font-family: "Lato";
    padding: 8px 16px;
    text-transform: uppercase;
    font-size: rem-calc(14px);
    letter-spacing: 1px;
    display: block;
    border-top: 7px solid white;
    border-right: 7px solid white;
    position: absolute;
    bottom: 0;
    left: 0;
    @include breakpoint( medium down ) {
      position: relative;
      border: 0;
      text-align: center;
      font-size: rem-calc(18px);
      display: inline-block;
      margin-top: 0;
    }
  }
}

.event-card {
  &__container {
    background: #f3f3f3;
    height: 500px;
    margin-bottom: 150px;
    margin-top: 110px;
    @include breakpoint( medium down ) {
      height: auto;
    }
  }
  &__image {
    background: transparent url(../images/img__haak-awards.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
    margin-top: 30px;
  }
  &__subhead,
  &__title,
  &__descr,
  &__cta {
    margin-left: 60px;
  }
  &__subhead {
    margin: 60px 0 0 60px;
    padding: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #f49704;
    font-weight: 900;
    font-size: rem-calc(20);
  }
  &__title {
    font-weight: 300;
    color: #126898;
    padding-bottom: 20px;
    font-size: rem-calc(42px);
  }
  &__descr {
    max-width: 600px;
    padding-bottom: 20px;
    font-size: rem-calc(15);
  }
  &__cta {
    background: $compact-blue;
    padding: 12px 16px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Lato";
    letter-spacing: 1px;
    font-weight: 900;
    font-size: rem-calc(18px);
  }
}

.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
 }

 #block-compact-local-tasks .button-group {
  position: absolute;
  top: -50px;
  right: 0;
 }
