
{#
/**
* @file
* Zurb Foundations's theme implementation to display a single page.
*
* Available variables:
*
* General utility variables:
* - base_path: The base URL path of the Drupal installation. Will usually be
*   "/" unless you have installed Drupal in a sub-directory.
* - is_front: A flag indicating if the current page is the front page.
* - logged_in: A flag indicating if the user is registered and signed in.
* - is_admin: A flag indicating if the user has permission to access
*   administration pages.
*
* Site identity:
* - front_page: The URL of the front page. Use this instead of base_path when
*   linking to the front page. This includes the language domain or prefix.
* - logo: The url of the logo image, as defined in theme settings.
* - linked_logo: The logo image, linked to <front>.
* - site_name: The name of the site. This is empty when displaying the site
*   name has been disabled in the theme settings.
* - linked_site_name: The name of the site that also links to <front>.
* - site_slogan: The slogan of the site. This is empty when displaying the site
*   slogan has been disabled in theme settings.
* - hide_site_name: A flag indicating if the site name has been toggled off on
*   the theme settings page. If hidden, the "visually-hidden" class is added
*   to make the site name visually hidden, but still accessible.
* - hide_site_slogan: A flag indicating if the site slogan has been toggled off
*   on the theme settings page. If hidden, the "visually-hidden" class is
*   added to make the site slogan visually hidden, but still accessible.
*
* Page content (in order of occurrence in the default page.html.twig):
* - messages: Status and error messages. Should be displayed prominently.
* - node: Fully loaded node, if there is an automatically-loaded node
*   associated with the page and the node ID is the second argument in the
*   page's path (e.g. node/12345 and node/12345/revisions, but not
*   comment/reply/12345).
*
* Regions:
* - page.meta_header
* - page.header
* - page.help
* - page.highlighted
* - page.content
* - page.sidebar_first
* - page.sidebar_second
* - page.footer_first
* - page.footer_middle
* - page.footer_last
*
* @see template_preprocess_page()
* @see bartik_preprocess_page()
* @see html.html.twig
*/
#}

<div class="off-canvas-content" data-off-canvas-content>

  <header class="site-header__container">
    <div class="site-header row">
      {% include '@compact/includes/menu.html.twig' %}
      {% if node.title.value %}
        <h1 class="page-header__title">{{ node.title.value }}</h1>
      {% elseif page['#title'] %}
        <h1 class="page-header__title">{{ page['#title'] }}</h1>
      {% endif %}
    </div>
  </header>

  {% if messages and not zurb_foundation_messages_modal %}
    <div class="l-messages row">
      <div class="large-12 columns">
        {{ messages }}
      </div>
    </div>
  {% endif %}

  {% if page.help %}
    <div class="l-help row">
      <div class="large-12 columns">
        {{ page.help }}
      </div>
    </div>
  {% endif %}

  <div class="page">
    <main id="main" class="main" role="main">
      {% if page.highlighted %}
        <div class="row">
          {% spaceless %}
          {{ page.highlighted }}
          {% endspaceless %}
        </div>
      {% endif %}
      <a id="main-content"></a>
      <section class="row">
        {{ page.content }}
      </section>
    </main>
  </div>
