
{#
/**
* @file
* Zurb Foundations's theme implementation to display a single page.
*
* Available variables:
*
* General utility variables:
* - base_path: The base URL path of the Drupal installation. Will usually be
*   "/" unless you have installed Drupal in a sub-directory.
* - is_front: A flag indicating if the current page is the front page.
* - logged_in: A flag indicating if the user is registered and signed in.
* - is_admin: A flag indicating if the user has permission to access
*   administration pages.
*
* Site identity:
* - front_page: The URL of the front page. Use this instead of base_path when
*   linking to the front page. This includes the language domain or prefix.
* - logo: The url of the logo image, as defined in theme settings.
* - linked_logo: The logo image, linked to <front>.
* - site_name: The name of the site. This is empty when displaying the site
*   name has been disabled in the theme settings.
* - linked_site_name: The name of the site that also links to <front>.
* - site_slogan: The slogan of the site. This is empty when displaying the site
*   slogan has been disabled in theme settings.
* - hide_site_name: A flag indicating if the site name has been toggled off on
*   the theme settings page. If hidden, the "visually-hidden" class is added
*   to make the site name visually hidden, but still accessible.
* - hide_site_slogan: A flag indicating if the site slogan has been toggled off
*   on the theme settings page. If hidden, the "visually-hidden" class is
*   added to make the site slogan visually hidden, but still accessible.
*
* Page content (in order of occurrence in the default page.html.twig):
* - messages: Status and error messages. Should be displayed prominently.
* - node: Fully loaded node, if there is an automatically-loaded node
*   associated with the page and the node ID is the second argument in the
*   page's path (e.g. node/12345 and node/12345/revisions, but not
*   comment/reply/12345).
*
* Regions:
* - page.meta_header
* - page.header
* - page.help
* - page.highlighted
* - page.content
* - page.sidebar_first
* - page.sidebar_second
* - page.footer_first
* - page.footer_middle
* - page.footer_last
*
* @see template_preprocess_page()
* @see bartik_preprocess_page()
* @see html.html.twig
*/
#}

<div class="off-canvas-content" data-off-canvas-content>

  <header class="site-header__container site-header__container--hero">
    <div class="site-header site-header--hero row">
      {% include '@compact/includes/menu.html.twig' %}
      <h1 class="page-header__title page-header__title--hero">Working Toward a Better Future</h1>
      <h3 class="page-header__subhead">Fresno Compact focuses on community-wide efforts to prepare students for the increasing demands of society and the workplace</h3>
    </div>
    <div class="cta">
      <a class="cta__link" href="/about-fresno-compact">Learn More</a>
    </div>
  </header>

  {% if messages and not zurb_foundation_messages_modal %}
    <div class="l-messages row">
      <div class="large-12 columns">
        {{ messages }}
      </div>
    </div>
  {% endif %}

  {% if page.help %}
    <div class="l-help row">
      <div class="large-12 columns">
        {{ page.help }}
      </div>
    </div>
  {% endif %}

  <div class="page page--front">
    <main id="main" class="main" role="main">
      <div class="row">

        <div class="column large-4 media-card">
          <div class="media-card--padding media-card--talent-hub">
            <div class="media-card__container">
              <img src="{{ base_path ~ directory }}/images/img__media-card--talent-hub.jpg" class="media-card__image" />
              <div class="media-card__placard">
                <h4 class="media-card__subhead">Improving the Success of Students</h4>
                <h3 class="media-card__title">Fresno Talent Hub</h3>
              </div>
              <p class="media-card__descr">We work with local businesses to improve student performance in secondary<br/> and post-secondary<br /> education.</p>
              <a class="media-card__cta" href="/about-fresno-compact">View Our Work</a>
            </div>
          </div>
        </div>

        <div class="column large-4 media-card">
          <div class="media-card--padding">
            <div class="media-card__container">
              <img src="{{ base_path ~ directory }}/images/img__media-card--haak--jim-yovino.jpg" class="media-card__image" />
              <div class="media-card__placard">
                <h4 class="media-card__subhead">2022 Dr. Harold Haak Award Recipient</h4>
                <h3 class="media-card__title">Jim Yovino</h3>
              </div>
              <p class="media-card__descr">The Fresno Compact is proud to announce Jim Yovino as the recipient of the 2022 Dr. Harold Haak Award for Educational Excellence for Building Business/Education Partnerships.</p>
              <a class="media-card__cta" href="/dr-harold-haak-award">About the Award</a>
            </div>
          </div>
        </div>

        <div class="column large-4 media-card">
          <div class="media-card--padding">
            <div class="media-card__container">
              <img src="{{ base_path ~ directory }}/images/img__media-card--partner.jpg" class="media-card__image" />
              <div class="media-card__placard">
                <h4 class="media-card__subhead">Make a Difference</h4>
                <h3 class="media-card__title">Partner With Us</h3>
              </div>
              <p class="media-card__descr">Many schools still seek business partners. Any size business can be involved, the process is simple and the rewards are substantial. Get involved and help build a better, more vibrant Fresno.</p>
              <a class="media-card__cta" href="/partner-us">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

  <div class="event-card__container">
    <div class="event-card row full-width">
      <div class="event-card__image column large-6">
      </div>
      <div class="event-card__info column large-6">
        <h4 class="event-card__subhead">News &amp; Events</h4>
        <h3 class="event-card__title">The Harold Haak Award</h3>
        <div class="event-card__descr">
          <p>The Dr. Harold Haak Award for Educational Excellence for Building Business/Education Partnerships is awarded for exemplary leadership to an educator who has promoted business education partnerships.</p>
          <p>This award is named for Dr. Harold Haak in recognition of his long service to education and his service as the first Executive Director of The Fresno Compact.</p>
        </div>
        <a class="event-card__cta" href="/dr-harold-haak-award">More about the Award</a>
      </div>
    </div>
  </div>

