.responsive-toggle {
  background: transparent;
  text-transform: uppercase;
  font-weight: 700;
  font-size: rem-calc(16px);
  letter-spacing: 0.1rem;
  line-height: rem-calc(16px);
  padding-top: 18px;
}

.menu-icon {
  top: -2px;
  width: 20px;
  height: 14px;
  margin-right: 10px;
}

.site-menu {
  position: relative;
  &__container {
    height: 124px;
    @include breakpoint(small only) {
      height: 54px;
    }
  }
  @include breakpoint(medium only) {
    padding-left: 28px;
  }
  @include breakpoint(small only) {
    padding-left: 20px;
  }
  li {
    font-family: 'Lato';
    font-size: rem-calc(17px);
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    padding: 0;
    margin: 0;
    @include breakpoint(large down) { 
      font-size: rem-calc(16px);
      letter-spacing: 0.02rem;
    }
    @include breakpoint(medium down) {
      letter-spacing: 0.02rem;
      font-size: rem-calc(15px);
    }
    a {
      padding: 0 13px;
      margin: 0;
      line-height: 56px;
      @include breakpoint(large down) {
        padding: 0 8px;
      }
    }    
  }
}

.php-is-active {
  position: static !important;
}

.php-is-active ul.menu {
  background: transparent;
  border: 0;
  width: 100%;
  position: absolute;
  left: 0px;
}

.php-is-active ul.menu {
  @include breakpoint(medium down) {
    padding-left: 40px;
  }
  li {
    display: inline-block !important;
    width: auto !important;
    a {
      color: $white;
      font-size: rem-calc(15px);
      line-height: 58px !important;
      &:hover {
        color: $white;
      }
    }
  }
}

li.php-is-active > a,
li.is-active > a,
.site-menu > li {
  position: relative;
}

.site-menu > li > a:hover::after,
li.is-active > a::after {
  width: 0; 
  height: 0; 
  content:'';
  top: 50px;
  left: 40%;
  position: absolute;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  border-bottom: 11px solid $compact-blue;
}

.mobile-menu,
.is-drilldown-submenu {
  margin-top: 40px;
  background: #e6e6e6;
  font-family: "Lato";
  font-weight: bold;
  li a {
    padding-left: 14px;
    border-bottom: 2px solid white;
    text-transform: uppercase;
  }
}

.close-button {
  z-index: 1000;
}
